:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --page-bg: #fff9f9;
  --text-color-black: #170517;
  --text-color-white: #e8e8e8;
  --accent: #ec5b52;

  --time: 0.2s ease-in-out;
}
$vp-320: 320px;
$vp-375: 375px;
$vp-500: 500px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
